body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
}
.container{
    text-align: center;
    width: 250px; 
    background-color: hsl(0, 0%, 100%);
    border: 0%;
    border-radius: 15px;
    padding: 12px ;
    margin: 100px auto;
}
img{
    width:250px ;
    height: 240px;
    border: 0%;
    border-radius: 15px;
}
h3{
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 19px;
}
p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}